.main-div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-div{
    /* height: 400px;
    width: 400px; */
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    box-shadow: 1px 2px 19px -10px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 2px 19px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 19px -10px rgba(0,0,0,0.75);
}

.single-div{
    /* background-color: brown; */
    height: 126px;
    width: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 29px -10px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 2px 29px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 29px -10px rgba(0,0,0,0.75);
}

.icon{
    /* background-color: white; */
    transform: scale(2)
}

button{
    padding: 5px 10px;
    background-color: transparent;
    margin-top: 20px;
    border: 2px solid gray;
    box-shadow: 1px 2px 29px -10px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 2px 29px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 29px -10px rgba(0,0,0,0.75);
}

.scoreboard{
    /* background-color: aqua; */
    width: 380px;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 5px;
    box-shadow: 1px 2px 29px -10px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 2px 29px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 29px -10px rgba(0,0,0,0.75);
}

.winning-message{
    font-size: 20px;
    text-transform: capitalize;
}