.counter{
    margin-top: 20px;
}

.display-main{
    width: 100%;
}

.display{
    margin-top: 10px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     /* width: 100%; */
     grid-gap: 10px;
     padding:0 20px;
}

.singlemember{
    border: 1px solid gray;
    width: 100%;
    /* margin: 20px; */
}

.username{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(93, 89, 89);
    color: white;
}

.item-heading{
    background-color: antiquewhite;
    display: flex;
    height: 30px;
    align-items: center;
    border-bottom: 2px solid gray;
}

.colorwhite{
    background-color: green;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

.item-heading>span{
    flex: 1;
}

.single-item{
    display: flex;
    align-items: center;
    height: 30px;
    background-color: antiquewhite;
    border-bottom: 1px solid gray;
}

.single-item>span{
    flex: 1;
}

.total-div{
    background-color: bisque;
    height: 30px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.paying,.getting{
    height: 30px;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    background-color: rgb(88, 170, 88);
    color: white;
}

.paying{
    background-color: rgb(213, 107, 107);
}

.inputclass{
    padding:5px 10px;
    margin: 3px;
    outline: none;
    border: none;
    /* background-color: transparent; */
    font-size: 15px;
    border-radius: 5px;
}

.buttonclass{
    padding: 7px 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
}

.selectclass{
    padding: 5px;
    border: none;
}

.rentclass{
    width: 50%;
    margin: 5px auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: green;
    color: white;
    border: 5px;
    border-radius: 5px;
}

.startcalculation{
    font-size: 20px;
    font-weight: bold;
}

.rentclass,.selectclass,.selectclass,.buttonclass,.inputclass,.colorwhite,.singlemember{
    box-shadow: 1px 0px 6px 1px rgba(0,0,0,0.41);
    -webkit-box-shadow: 1px 0px 6px 1px rgba(0,0,0,0.41);
    -moz-box-shadow: 1px 0px 6px 1px rgba(0,0,0,0.41);
    border-radius: 5px;
}